<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script>
//			var c=3;
//			console.log(window.c);
		</script>
		<script type="text/javascript" src="../js/index.js" ></script>
	</head>
	<body>
		哈哈
	</body>
</html>
